# MP Expenses Project
by Darren Christie 
Created May 2020

This is a project notebook that looks at MP Expenses.
The notebook compares a single MP (which will probably be your local MP) with the expenses of all MPs.

## The Data
Data has been obtained from the [IPSA website](https://www.theipsa.org.uk/mp-costs/annual-publication/) starting from 2010/2011 csv files were downloaded for individual claims for each reported year. The datasets were downloaded 6/6/2020.

The following awk command was used to merge the individual csv files into a combined csv file with a single header.

`awk '(NR == 1) || (FNR > 1)' Individual*.csv > combined_claims.csv`

FNR represents the number of the processed record in a single file. NR represents it globally. Therefore the first line is accepted and the rest are ignored.
I can not take credit for the above awk command. I got it from the StackExchange website (accessed on 14/5/2020) and was an answer provided by a Marek Grac.

The resulting csv file just shy of 340MB. Too large to read in to Jupyter. So this csv file was imported into an sqlite3 database.

In [1]:
# our standard import for our projects
from pandas import *
# import sqlite3

In [2]:
# tells Jupyter to display all charts inside this notebook, immediately after each call to plot()
%matplotlib inline

In [3]:
# read in our data file of MP Expenses
mpIndExp = read_csv('Individual_claims_for_19_20.csv')
# mpIndExp

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Clean up data

In [4]:
# remove apostrophe from column names
mpIndExp.columns = mpIndExp.columns.str.replace("'","")

In [5]:
# correct NaN by replacing with a sensible default value
mpIndExp['Short Description'] = mpIndExp['Short Description'].fillna('')
mpIndExp['Details'] = mpIndExp['Details'].fillna('')
mpIndExp['Journey Type'] = mpIndExp['Journey Type'].fillna('')
mpIndExp['Nights'] = mpIndExp['Nights'].fillna(0.0)
mpIndExp['Mileage'] = mpIndExp['Mileage'].fillna(0.0)
mpIndExp['Reason If Not Paid'] = mpIndExp['Reason If Not Paid'].fillna('')
# mpIndExp[mpIndExp['Reason If Not Paid'].isnull()]

In [6]:
# correct column types
mpIndExp['Date'] = to_datetime(mpIndExp['Date'])
mpIndExp.dtypes

Year                          object
Date                  datetime64[ns]
Claim No.                     object
MPs Name                      object
MPs Constituency              object
Category                      object
Expense Type                  object
Short Description             object
Details                       object
Journey Type                  object
From                          object
To                            object
Travel                        object
Nights                       float64
Mileage                      float64
Amount Claimed               float64
Amount Paid                  float64
Amount Not Paid              float64
Amount Repaid                float64
Status                        object
Reason If Not Paid            object
Supply Month                 float64
Supply Period                float64
dtype: object

In [7]:
# remove empty last row
mpIndExp = mpIndExp.dropna(subset=['Year'])

In [8]:
# set the Date column to our index
mpIndExp.index = mpIndExp['Date']

The MP that we are interested in investigating their expenses.
If you are unsure who your MP is you can find out at [FindYourMP](https://members.parliament.uk/FindYourMP). Enter your post code and it will tell you who you MP is.

In [23]:
localMP = "Stephen Barclay"

Mean amount paid

In [10]:
amountPaid = mpIndExp['Amount Paid']
meanPaidForYear = amountPaid.mean()

136.14609154530368

Median amount paid

In [11]:
medianPaidForYear = amountPaid.median()

31.5

Total amount paid

In [12]:
sumPaidForYear = amountPaid.sum()

13209302.239999998

In [13]:
maxPaidForYear = amountPaid.max()

20100.0

In [14]:
minPaidForYear = amountPaid.min()

-2639.3

In [15]:
rangePaidForYear = amountPaid.max() - amountPaid.min()

22739.3

In [24]:
mpIndExp[mpIndExp['MPs Name'] == localMP]
#mpIndExp[(mpIndExp['MPs Name'] >= 'St') & (mpIndExp['MPs Name'] <= 'T')]

,Year,Date,Claim No.,MPs Name,MPs Constituency,Category,Expense Type,Short Description,Details,Journey Type,...,Nights,Mileage,Amount Claimed,Amount Paid,Amount Not Paid,Amount Repaid,Status,Reason If Not Paid,Supply Month,Supply Period
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-04,19_20,2019-01-04,60000464-1,Stephen Barclay,North East Cambridgeshire CC,Office Costs,Website hosting and design,,www.stevebarclay.net build by This Is Fuller L...,,...,0.0,0.0,1080.00,1080.00,0.0,0.0,Paid,,0.0,0.0
2019-04-04,19_20,2019-04-04,60002917-7,Stephen Barclay,North East Cambridgeshire CC,Office Costs,Software & applications,,ADOBE PR CREATIVE CLD,,...,0.0,0.0,-30.34,-30.34,0.0,0.0,Paid,,0.0,0.0
2019-04-04,19_20,2019-04-04,60002917-8,Stephen Barclay,North East Cambridgeshire CC,Accommodation,Hotel - London,,[***],,...,0.0,0.0,525.00,525.00,0.0,0.0,Paid,,0.0,0.0
2019-08-04,19_20,2019-08-04,60002318-2,Stephen Barclay,North East Cambridgeshire CC,MP Travel,Mileage - car,,,London-constituency MP & Staff,...,0.0,28.0,12.60,12.60,0.0,0.0,Paid,,0.0,0.0
2019-10-04,19_20,2019-10-04,60002318-3,Stephen Barclay,North East Cambridgeshire CC,MP Travel,Mileage - car,,,London-constituency MP & Staff,...,0.0,28.0,12.60,12.60,0.0,0.0,Paid,,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-11,19_20,2019-01-11,4000569-30,Stephen Barclay,North East Cambridgeshire CC,Staff Travel,Rail,,Chambers OCT 17-31,London-constituency MP & Staff,...,0.0,0.0,53.10,53.10,0.0,0.0,Paid,,0.0,0.0
2019-01-11,19_20,2019-01-11,4000569-29,Stephen Barclay,North East Cambridgeshire CC,Staff Travel,Rail,,Chambers OCT 17-31,London-constituency MP & Staff,...,0.0,0.0,69.10,69.10,0.0,0.0,Paid,,0.0,0.0
2019-01-11,19_20,2019-01-11,4000569-28,Stephen Barclay,North East Cambridgeshire CC,Staff Travel,Rail,,Chambers OCT 17-31,London-constituency MP & Staff,...,0.0,0.0,69.10,69.10,0.0,0.0,Paid,,0.0,0.0
2019-06-11,19_20,2019-06-11,4000612-30,Stephen Barclay,North East Cambridgeshire CC,Staff Travel,Rail,,Chambers Nov 1st to 16 2019,London-constituency MP & Staff,...,0.0,0.0,1.00,1.00,0.0,0.0,Paid,,0.0,0.0
2019-06-11,19_20,2019-06-11,4000612-29,Stephen Barclay,North East Cambridgeshire CC,Staff Travel,Rail,,Chambers Nov 1st to 16 2019,London-constituency MP & Staff,...,0.0,0.0,69.10,69.10,0.0,0.0,Paid,,0.0,0.0